@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url(fonts/roboto-mono-v12-latin-regular.woff2) format('woff2'),
         url(fonts/roboto-mono-v12-latin-regular.woff) format('woff'),
         url(fonts/roboto-mono-v12-latin-regular.ttf) format('truetype');
  }

#container {
    height: 3664px;
    background-color: #EEEEEE;
    display: flex;
}

#nav {
    position: absolute;
    width: 100%; height: 63px;
    min-width: 1440px; max-width: 1600px;
    left: 0px; top: 0px;

    background-color: #222831;
    
    display: flex;
    justify-content: center; align-items: center;
}

.mypage {
    margin-top: 13px;
    color: #32E0C4;

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold; font-size: 24px;
    text-transform: uppercase;
}

p {
    font-family: 'Roboto';
    font-style: normal;
}

#helloBox {
    position: absolute;
    width: 100%; height: 700px;
    min-width: 1440px; max-width: 1600px;
    left: 0px; top: 170px;

    display: flex;
    justify-content: space-evenly;

    background: #393E46;
}

    .hello {
        position: absolute;
        left: 165px; top: 172px;
        
        font-weight: bold; font-size: 70px;
        line-height: 82px;
        
        color: #32E0C4;    
    }
    .khansa {
        position: absolute;
        left: 245px; top: 296px;

        font-weight: 300; font-size: 36px;
        line-height: 140.62%;
        /* or 51px */

        display: flex;
        align-items: center;
        text-align: right;

        color: #EEEEEE;
    }
    .picSelf1 {
        position: absolute;
        height: 500px; width: 500px;
        right: 165px; top: 105px;
        border-radius: 0px;
        display: flex;

    }

#aboutBox {
    position: absolute;
    width: 100%;
    min-width: 1440px; max-width: 1600px;
    height: 700px;
    left: 0px; top: 977px;

    display: flex;
    align-items: center;

    background: #32E0C4;
}

    .aboutme {
        position: absolute;
        width: 100%;
        min-width: 1440px; max-width: 1600px;
        right: 165px; top: 75px;
        border-radius: nullpx;

        font-weight: 400; font-size: 70px;
        line-height: 82px;
        text-align: right;
        text-transform: uppercase;
        
        color: #393E46;
    }
    .marker1 {
        position: absolute;
        left: 0px; top: 110px;
        width: 62%; height: 10px;
        min-width: 800px; max-width: 945px;
        background-color: #393E46;
    }
    .aboutContent {
        position: absolute;
        height: 415px; width: 100%;
        left: 0px; top: 199px;
        border-radius: 0px;

        background-color: #EEEEEE;

        display: flex;
        align-items: center;
    }
    .picRound {
        position: absolute;
        height: 90px; width: 90px;
        border-radius: 50%;
        left: 723px; top: 291px;
    }
    .subAbout {
        font-size: 24px; font-weight: 300;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: center;

        position: absolute; top: 425px;
        width: 100%;
    }

#academicBox {
    position: absolute;
    left: 0px; top: 1677px;
    width: 100%; height: 750px;
    min-width: 1440px; max-width: 1600px;
    
    background-color: #EEEEEE;

    display: flex;
    justify-content: center;
}

    .academic {
        position: absolute;
        height: 183px; width: 429px;
        left: 165px; top: 65px;
        border-radius: 0px;

        font-size: 70px; font-weight: 400;
        line-height: 82px;
        letter-spacing: 0em;
        text-align: left;    
        text-transform: uppercase;    
        
        color: #393E46;
    }
    .marker2 {
        position: absolute;
        right: 0px; top: 150px;
        width: 62%; height: 10px;
        min-width: 800px; max-width: 945px;
        background-color: #393E46;
    }
    .schools {
        width: 75%; height: 420px;
        min-width: 1110px; max-width: 1110;
        position: absolute; top: 300px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .schoolBox {
        width: 270px; height: 420px;
        
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 2px;

        display: flex;;
        justify-content: center;
    }

        .logo {
            width: 90px; height: 90px;
            border-radius: 50%;
            
            margin-top: 73px; margin-left: auto; margin-right: auto;
            text-align: center;
        }
        .schoolName {
            position: absolute; top: 197px;
            
            font-weight: normal; font-size: 20px;
            line-height: 23px;

            display: flex;
            text-align: center;
            
            color: #000000;            
        }
        .schoolYear {
            position: absolute; top: 250px;
            
            font-weight: 300; font-size: 18px;
            line-height: 24px;

            display: flex;
            text-align: center;
            
            color: #000000;            
        }
        .seemoreBox {
            position: absolute;
            width: 160px;
            height: 40px;
            top: 347px;

        /* Background */
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 5px;

            display: flex;
            justify-content: center;
            text-align: center;
        }
        .seemore {
            margin-top: 6px;
            color: #000000;
        }

#highlightsBox {
    position: absolute;
    width: 100%; height: 820px;
    min-width: 1440px; max-width: 1600px;
    left: 0px; top: 2428px;

    display: flex;
    justify-content: center;
}

    .highlights {
        margin-top: 84px;
        
        font-weight: normal; font-size: 70px;
        line-height: 82px;

        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;    
        
        color: #393E46;        
    }
    .highlightsContent {
        position: absolute;
        width: 75%; height: 436px;
        min-width: 1200px; max-width: 1200px;
        top: 247px;

        display: flex;
        justify-content: space-between;
    }

        .cardBox {
            width: 270px; height: 436px;
            background-color: #FFFFFF;
        }

            .cardPic {
                width: 270; height: 270px;
            }
            .cardTitle {
                margin-top: 24px; margin-left: 24px; margin-right: 24px;

                font-weight: normal; font-size: 20px;
                line-height: 23px;
                text-align: left;

                display: flex;
                flex-wrap: wrap;
                
                color: #000000;                    
            }
            .cardDesc {
                margin-top: 12px; margin-left: 24px;

                font-weight: normal; font-size: 14px;
                line-height: 19px;
                text-align: left;

                display: flex;
                flex-wrap: wrap;
                
                color: #000000;
            }


#footerBox {
    position: absolute;
    width: 100%; height: 410px;
    min-width: 1440px; max-width: 1600px;
    left: 0px; top: 3254px;

    background-color: #222831;

    display: flex;
    justify-content: center;
    text-align: center;
}

    .marker3 {
        position: absolute; top: 157px;
        height: 0.1px; width: 75%;
        min-width: 1060px; max-width: 1060px;
        border-radius: 0px;        

        background-color: #EEEEEE;
    }
    .sosmedBox {
        height: 90px; width: 14%;
        min-width: 210px; max-width: 210px;
        position: absolute; top: 245px;

        display: flex;
        justify-content: space-between;
    }
    .logoSosmed {
        width: 40px; height: 40px;
        border-radius: 50%;
    }
    .copyright {
        position: absolute; top: 365px;
        width: 11%;
        min-width: 160px; max-width: 160px;

        font-size: 14px; font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;

        color: #EEEEEE; 
    }